@import "CSS/aboutme-style.css" all;

/*Mobile, medium-sized screens and large screens*/
@media (min-width:900px) {
    #three {  /*Content*/
        grid-area: 3/1/5/7;
        background-color: rgb(224, 224, 28);
        display: flex;
	    flex-direction: column;
	    justify-items: center;
	    align-items: center;
    }

    #aboutme {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        margin: 5px;
    }

    #textaboutme {
        font-size: 15px;
        color:  rgb(58, 56, 56);
    }

    iframe {
        border-radius:12px;
        width: 100%; 
        height: 250px;
    }
}