@import "CSS/content.css" all;

/*Mobile, medium-sized screens and large screens*/
@media (min-width:250px) {
    #three {  /*Content*/
        grid-area: 3/1/5/7;
        background-color: rgb(224, 224, 28);
        display: flex;
	    flex-direction: column;
	    justify-items: center;
	    align-items: center;
    }

    figcaption {
        font-size: 8px; 
        text-align: justify;
    }
}