@import "CSS/aboutme-style.css" all;
@import "CSS/articles.css" all;
@import "CSS/content.css" all;
@import "CSS/dropdownmenu.css" all;
@import "CSS/footer.css" all;
@import "CSS/general-subpages.css" all;
@import "CSS/header.css" all;
@import "CSS/images.css" all;
@import "CSS/navbar.css" all;
@import "CSS/sidebar.css" all;

/*Mobile, medium-sized screens and large screens*/
@media (min-width:900px) { 
     body,html {
        justify-content: center;
        align-items: center; 
        font-family: Helvetica Arial, Helvetica, sans-serif;
        font-style: normal;
        font-stretch: normal;
    }

    .container {
        display: grid;
        margin: auto;
        justify-content: center;
        grid-template-columns: 100px 100px 100px 75px 75px 75px 85px 150px; /*8 columns*/
        grid-template-rows: 180px 40px auto auto auto; /*5 rows*/
    }

    h1 {
        color: rgb(247, 101, 125);
        font-size: 35px;
    }

    h2 {
        color: rgb(247, 101, 125);
        font-size: 25px;
    }

    h3 {
        color: rgb(224, 224, 28);
        font-size: 20px;
    }

    a {
        color: rgb(224, 224, 28);
        font-size: 8px;
        text-decoration: none;
    }
    
    a:hover {
        text-decoration: underline;
    }
}    